@media(min-width:992px){
    
    .heading{
        height:300px;
    }  
    .nameheading{
        font-size: 50px;
    }
    .name{
        font-size: 25px;
    }
    .imgmodi1021{
        width:40%;
        height:350px;
         margin-left: 23%;
    }
    .imgmodi2021{
        width:40%;
        height:450px;
         margin-left: 23%;
    }.imgmodi3021{
        width:40%;
        height:350px;
         margin-left: 23%;
    }
    .imgmodi4021{
        width:40%;
        height:450px;
         margin-left: 23%;
    }.imgmodi5021{
        width:40%;
        height:350px;
         margin-left: 23%;
    }
    .imgmodi6021{
        width:40%;
        height:450px;
         margin-left: 23%;
    }
}
@media(min-width:756px) and (max-width:991px)
{
.heading{
   height:350px;
}
.nameheading{
    font-size: 50px;
}
.governmentlogo{
   width:20%;
    height: 50px;
    margin-right: 25px;
}
.imgmodi1021{
    width:70%;
    height:250px;
     margin-left: 15%;
}
.imgmodi2021{
    width:70%;
    height:400px;
     margin-left: 15%;
}.imgmodi3021{
    width:70%;
    height:250px;
     margin-left: 15%;
}
.imgmodi4021{
    width:70%;
    height:400px;
     margin-left: 15%;
}.imgmodi5021{
    width:70%;
    height:250px;
     margin-left: 15%;
}
.imgmodi6021{
    width:70%;
    height:400px;
     margin-left: 15%;
}
}
@media(min-width:515px) and (max-width:755px){
    .heading{
        height: 400px;
    }
    .nameheading{
        font-size: 50px;
    }
    #content21{
        margin-top: 65px;
    }
    .imgmodi1021{
        width:70%;
        height:200px;
         margin-left: 14%;
     }
     .imgmodi2021{
        width:70%;
        height:300px;
         margin-left: 14%;
     }.imgmodi3021{
        width:70%;
        height:200px;
         margin-left: 14%;
     }
     .imgmodi4021{
        width:70%;
        height:300px;
         margin-left: 14%;
     }.imgmodi5021{
        width:70%;
        height:200px;
         margin-left: 14%;
     }
     .imgmodi6021{
        width:70%;
        height:300px;
         margin-left: 14%;
     }
}
@media(max-width:514px) and (min-width:361px){
    .nameheading{
        font-size: 50px;
    }
    #content21{
        margin-top: 65px;
    }
    .imgmodi1021{
        width:80%;
        height:200px;
         margin-left: 9%;
     }
     .imgmodi2021{
        width:80%;
        height:250px;
         margin-left: 9%;
     } .imgmodi3021{
        width:80%;
        height:200px;
         margin-left: 9%;
     }
     .imgmodi4021{
        width:80%;
        height:250px;
         margin-left: 9%;
     } .imgmodi5021{
        width:80%;
        height:200px;
         margin-left: 9%;
     }
     .imgmodi6021{
        width:80%;
        height:250px;
         margin-left: 9%;
     }
}
@media(max-width:360px){
    .nameheading{
        font-size: 35px;
    }
    .imgmodi1021{
        width:80%;
        height:200px;
         margin-left: 9%;
     }
     .imgmodi2021{
        width:80%;
        height:200px;
         margin-left: 9%;
     }.imgmodi3021{
        width:80%;
        height:200px;
         margin-left: 9%;
     }
     .imgmodi4021{
        width:80%;
        height:200px;
         margin-left: 9%;
     }.imgmodi5021{
        width:80%;
        height:200px;
         margin-left: 9%;
     }
     .imgmodi6021{
        width:80%;
        height:200px;
         margin-left: 9%;
     }
}
