@media(min-width:992px){
    
    .heading{
        height:300px;
    }  
    .nameheading{
        font-size: 50px;
    }
    .introduction{
        float: left;
        margin-bottom: 15px;
        font-size: 16px;
        font-weight: bolder;
    }
    #intro{
        width: 15%;
        margin-right: 5px;
        height: 60px;
        font-size: 16px;
    }
    #enterbjp{
        width: 14%;
        height: 60px;
        margin-right: 5px;
        font-size: 16px;
    }
    #worksofgov{
        width: 25%;
        height: 60px;
        margin-right: 10px;
    }
    #worksofgov20{
        width: 25%;
        height: 60px;
        margin-right: 5px;
    }
    #qualitiesofch{
        height: 60px;
        width: 18%;
    }
    .coronaheading{
        margin-top: 130px;
        padding-left: 20%;
    }
    .name{
        font-size: 25px;
    }
    .survey{
        width: 40%;
        font-size: 53px;
        height: 80px;
    }

    /* #intro, #enterbjp, #worksofgov, #worksofgov20, #qualitiesofch{
        float: left;
        border: 2px solid red;
        margin-left: 1px; */
    }


@media(min-width:756px) and (max-width:991px)
{
.heading{
   height:350px;
  
}
.nameheading{
    font-size: 50px;
}
.governmentlogo{
   width:20%;
    height: 50px;
}
.introduction{
    float: left;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: bolder;
}
#intro{
    width: 19%;
    margin-right: 5px;
    height: 60px;
}
#enterbjp{
    width: 29%;
    height: 60px;
    margin-right: 5px;
}
#worksofgov{
    width: 49%;
    height: 60px;
    margin-right: 10px;
}
#worksofgov20{
    width: 49%;
    height: 60px;
    margin-right: 5px;
}
#qualitiesofch{
    height: 60px;
    width: 49%;
}
.coronaheading{
    margin-top: 200px;
    padding-left: 0%;
    text-align: center;
}
.survey{
    width: 40%;
    font-size: 39px;
    height: 70px;
}

}

@media(min-width:515px) and (max-width:755px){
    .heading{
        height: 400px;
    }
    .nameheading{
        font-size: 50px;
    }
    .introduction{
        float: left;
        margin-bottom: 15px;
        font-size: 15px;
        font-weight: bolder;
    }
    #intro{
        width: 39%;
        margin-right: 10px;
        height: 50px;
    }
    #enterbjp{
        width: 59%;
        height: 50px;
    }
    #worksofgov{
        width: 49%;
        height: 60px;
        margin-right: 10px;
    }
    #worksofgov20{
        width: 48%;
        height: 60px;
    }
    #qualitiesofch{
        height: 60px;
        width: 70%;
    }
    .coronaheading{
        margin-top: 300px;
        padding-left: 18%;
        
    }
    .survey{
        width: 40%;
        font-size: 26px;
        height: 60px;
    }

}
@media(max-width:514px) and (min-width:361px){
    .nameheading{
        font-size: 50px;
    }
    #content{
        margin-top: 100px;
    }
    .introduction{
        float: left;
        margin-bottom: 15px;
        font-size: 15px;
        font-weight: bolder;
    }
    #intro{
        width: 39%;
        margin-right: 5px;
        height: 50px;
    }
    #enterbjp{
        width: 59%;
        height: 50px;
    }
    #worksofgov{
        width: 70%;
        height: 60px;
    }
    #worksofgov20{
        width: 70%;
        height: 60px;
    }
    #qualitiesofch{
        height: 60px;
        width: 70%;
    }
    .coronaheading{
        margin-top: 350px;
      height: 110px;
      padding-top: 5px;
      text-align:center ;
    }
    .survey{
        width: 40%;
        font-size: 20px;
        height: 50px;
    }
}
@media(max-width:360px){
    .nameheading{
        font-size: 35px;
    }
    #content{
        margin-top: 100px;
        width: 100%;
    }
    .introduction{
        width: 100%;
        margin-top: 10px;
        font-size: 10px;
        height: 50px;
        font-weight: bolder;
    }
    .survey{
        width: 30%;
        font-size: 16px;
    }
    
}

